@charset "ISO-8859-1";
body{
	
	background-image:url("../img/covid19.jpg");
	background-repeat:no-repeat;
	 background-size: cover;
    
	font-family:Arial;
	font-size:14px;
	
	padding-top: 25vh;	
}

form{
	margin-top:90px;
	
}
.form-container{
	border-radius: 10px;
	padding: 30px;

	width:500px;
	height:300px;
}